{% extends 'blocks/sidebar/sidebar-module.twig' %}

{% block content %}

	<div class="cta">

		{% set image = Image(module.image) %}

		{% if image.src %}
			{% if module.link %}
				<a class="link-has-image" href="{{ module.link.url }}" target="{{ module.link.target }}">
				{% endif %}

				<picture>
					<source srcset="{{ image.src('3by2')|towebp }} 1110w, {{ image.src('3by2-md')|towebp }} 690w, {{ image.src('3by2-sm')|towebp }} 395w" sizes="{{ sizes }}" type="image/webp">
					<source srcset="{{ image.src('3by2') }} 1110w, {{ image.src('3by2-md') }} 690w, {{ image.src('3by2-sm') }} 395w" sizes="{{ sizes }}" type="image/jpeg">
					<img class="cta__image" loading="lazy" src="{{ image.src('3by2') }}">
				</picture>

				{% if module.link %}
				</a>
			{% endif %}
		{% endif %}

		<div class="cta__content">
			{% if module.heading %}
				<h2 class="cta__heading">{{ module.heading }}</h2>
			{% endif %}

			{% if module.copy %}
				<div class="cta__copy wysiwyg">
					{{ module.copy }}
				</div>
			{% endif %}

			{% if module.link %}
				<div class="cta__link">
					<a class="button" href="{{ module.link.url }}" target="{{ module.link.target }}">{{ module.link.title }}</a>
				</div>
			{% endif %}
		</div>

	</div>

{% endblock %}
