<div class="member">

	<div class="row">
		{% if image.src %}
			<div class="col-md-4">
				<picture>
					<source srcset="{{ image.src('square')|towebp }}" type="image/webp">
					<source srcset="{{ image.src('square') }}" type="image/jpeg">
					<img alt="{{ post.title }}" class="member__image" loading="lazy" src="{{ image.src('square') }}">
				</picture>
			</div>
		{% endif %}

		<div class="col-md-8">
			{% if name %}
				<h3 class="member__name">{{ name }}</h3>
			{% endif %}

			{% if title %}
				<span class="member__title">{{ title }}</span>
			{% endif %}

			{% if pronouns %}
				<span class="member__pronouns">{{ pronouns }}</span>
			{% endif %}

			{% if bio %}
				<div class="member__bio text-heavy wysiwyg">{{ bio }}</div>
			{% endif %}

			{% if link.url %}
				<div class="member__link">
					<a href="{{ link.url }}" target="{{ link.target }}">{{ link.title }}
						<i aria-hidden="true" class="fas fa-arrow-right"></i>
					</a>
				</div>
			{% endif %}
		</div>
	</div>

</div>
