<div class="member">
	{% if show_thumbnail == true %}
		{% if post.thumbnail %}
			<picture>
				<source srcset="{{ post.thumbnail.src('square')|towebp }}" type="image/webp">
				<source srcset="{{ post.thumbnail.src('square') }}" type="image/jpeg">
				<img alt="{{ post.title }}" class="member__image" loading="lazy" src="{{ post.thumbnail.src('square') }}">
			</picture>
		{% endif %}
	{% endif %}

	{% if show_name == true %}
		<h3 class="member__name">
			<a href="{{ post.link }}">
				{{ post.title }}
			</a>
		</h3>
	{% endif %}

	{% if post.meta('position') %}
		<span class="member__position">{{ post.meta('position') }}</span>
	{% endif %}

	{% if post.meta('email') %}
		<a class="member__email" href="mailto:{{ post.meta('email') }}">{{ post.meta('email') }}</a>
	{% endif %}

	{% if post.meta('phone') %}
		<a class="member__phone" href="tel:{{ post.meta('phone') }}{{ post.meta('extension') ? ';'~post.meta('extension') }}">
			{{ post.meta('phone') }}
			{{ post.meta('extension') ? ' ext. '~post.meta('extension') }}
		</a>
	{% endif %}

	{% if post.meta('affiliation') %}
		<span class="member__affiliation">{{ post.meta('affiliation') }}</span>
	{% endif %}
</div>
