<div class="member">

	<div class="row">
		<div class="col-md-4">
			{% set image = Image(member.image) %}
			{% if image.src %}
				<picture>
					<source srcset="{{ image.src('3by2')|towebp }} 1110w, {{ image.src('3by2-md')|towebp }} 690w, {{ image.src('3by2-sm')|towebp }} 395w" sizes="(min-width: 768px) 32vw, 96vw" type="image/webp">
					<source srcset="{{ image.src('3by2') }} 1110w, {{ image.src('3by2-md') }} 690w, {{ image.src('3by2-sm') }} 395w" sizes="(min-width: 768px) 32vw, 96vw" type="image/jpeg">
					<img alt="{{ image.alt }}" class="member__image" loading="lazy" src="{{ image.src('3by2') }}">
				</picture>
			{% endif %}
		</div>

		<div class="col-md-8">
			<h3 class="member__name">{{ member.name }}</h3>

			{% if member.title %}
				<span class="member__title">{{ member.title }}</span>
			{% endif %}

			{% if member.bio %}
				<div class="member__bio wysiwyg">{{ member.bio }}</div>
			{% endif %}

			{% if member.link.url %}
				<div class="member__link">
					<a href="{{ member.link.url }}" target="{{ member.link.target }}">{{ member.link.title }}
						<i aria-hidden="true" class="fas fa-arrow-right"></i>
					</a>
				</div>
			{% endif %}
		</div>
	</div>


</div>
