<div class="member">

	<div class="row">
		{% set image = Image(member.image) %}
		{% if image.src %}
			<div class="col-md-4">
				<picture>
					<source srcset="{{ image.src('square')|towebp }}" type="image/webp">
					<source srcset="{{ image.src('square') }}" type="image/jpeg">
					<img alt="{{ post.title }}" class="member__image" loading="lazy" src="{{ image.src('square') }}">
				</picture>
			</div>
		{% endif %}

		<div class="col-md-8">
			{% if member.name %}
				<h3 class="member__name">{{ member.name }}</h3>
			{% endif %}

			{% if member.title %}
				<span class="member__title">{{ member.title }}</span>
			{% endif %}

			{% if member.pronouns %}
				<span class="member__pronouns">{{ member.pronouns }}</span>
			{% endif %}

			{% if member.bio %}
				<div class="member__bio text-heavy wysiwyg">{{ member.bio }}</div>
			{% endif %}

			{% if member.link.url %}
				<div class="member__link">
					<a href="{{ member.link.url }}" target="{{ member.link.target }}">{{ member.link.title }}
						<i aria-hidden="true" class="fas fa-arrow-right"></i>
					</a>
				</div>
			{% endif %}
		</div>
	</div>


</div>
