{% extends 'blocks/module.twig' %}

{% block outer_top %}
	{% set image = Image(module.image) %}

	<div class="hero__image" style="background-image:  url('{{ image.src  }}');"></div>
{% endblock %}

{% block content %}

	<div class="hero__content">
		<div class="hero__content-upper">
			{% if module.heading %}
				<h1 class="h2 hero__heading">{{ module.heading }}</h1>
			{% endif %}

			{% if module.copy %}
				<div class="hero__copy wysiwyg">
					{{ module.copy }}
				</div>
			{% endif %}
		</div>

		<div class="hero__content-lower">
			{% if module.links %}
				<div class="hero__links">
					{% for item in module.links %}
						<a class="hero__link button button--red-hover" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
