<div class="pagination pagination--{{ pagination_style|replace({'_': '-'}) }}">
	{% if pagination_style == 'load_more' and posts.pagination.total > 1 %}

		<button class="button load-more">Load More</button>

	{% elseif pagination_style == 'traditional' and posts.pagination.prev or posts.pagination.next %}

		<ul class="pagination__pages">
			{% for page in posts.pagination.pages %}
				<li class="pagination__page">
					{% if page.link %}
						<a href="{{ page.link }}{{ id ? '#' ~ id }}" class="{{ page.class }}">{{ page.title }}</a>
					{% else %}
						<span class="{{ page.class }}">{{ page.title }}</span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

	{% endif %}
</div>
