<div class="statistic">
	<div class="statistic__content">
		{% if statistic.figure %}
			<h3 class="statistic__figure">{{ statistic.figure }}</h3>
		{% endif %}

		{% if statistic.elaboration %}
			<div class="statistic__elaboration wysiwyg">
				{{ statistic.elaboration }}
			</div>
		{% endif %}
	</div>

	{% if statistic.link.url %}
		<div class="statistic__link">
			<a class="button button--red-hover" href="{{ statistic.link.url }}" target="{{ statistic.link.target }}">{{ statistic.link.title }}
			</a>
		</div>
	{% endif %}
</div>
