{% extends "base.twig" %}

{% block content %}
	<div class="counselor-post">
		<div class="counselor-post__meta">
			{% if post.meta('counselor_title') %}
				<p class="counselor-post__title">{{ post.meta('counselor_title') }}</p>
			{% endif %}

			{% if post.meta('pronouns') %}
				<p class="counselor-post__pronouns">Pronouns:
					{{ post.meta('pronouns') }}</p>
			{% endif %}
		</div>

		<div class="counselor-post__content text-heavy wysiwyg">
			{{ post.content }}
		</div>

		{% include 'blocks/back.twig' with { 'link_url' : '/therapy-counseling/chemical-health/our-counselors/', 'link_text' : 'Back to All Counselors' } %}
	</div>
{% endblock %}

{% block sidebar %}
	<div class="row">
		<div class="col-md-6 col-lg-12 sidebar__col">
			{% if post.thumbnail %}
				<picture>
					<source srcset="{{ post.thumbnail.src('square')|towebp }}" type="image/webp">
					<source srcset="{{ post.thumbnail.src('square') }}" type="image/jpeg">
					<img alt="{{ post.title }}" loading="lazy" src="{{ post.thumbnail.src('square') }}">
				</picture>
			{% endif %}
		</div>
	</div>
{% endblock %}
