{% set logo = Image(options.logo) %}

<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<a class="site-footer__logo-link link-has-image" href="{{ site.url }}">
					<img alt="{{ site.title }} homepage" class="site-footer__logo" src="{{ logo.src }}">
				</a>
			</div>

			<div class="col-md-5">
				{% if options.address %}
					<address class="site-footer__address links-blend-in">
						{% if options.map_url %}
							<a href="{{ options.map_url }}" target="_blank">
							{% endif %}
							{{ options.address }}
							{% if options.map_url %}
							</a>
						{% endif %}
					</address>
				{% endif %}

				{% if options.email %}
					<div class="site-footer__email">
						<a href="mailto:{{ options.email }}">{{ options.email }}</a>
					</div>
				{% endif %}

				{% if options.phone %}
					<div class="site-footer__phone">
						<a href="tel:{{ options.phone }}">{{ options.phone }}</a>
					</div>
				{% endif %}
			</div>

			<div class="col-md-6">
				<div class="site-footer__menu">
					{% include 'blocks/nav.twig' with { 'menu' : menu_footer, 'items' : menu_footer.get_items, 'show_search' : true } %}
				</div>
			</div>

			<div class="col-md-12">
				<div class="site-footer__colophon links-blend-in">
					<div class="row">
						<div class="col-md-6">
							<span class="site-footer__copyright">
								Copyright &copy;
								{{"now"|date('Y')}}
								{{ site.name }}.
								<a href="{{ site.url }}/data-privacy-policy/">Data Privacy Policy</a>
							</span>
						</div>
						<div class="col-md-6">
							<span class="site-footer__attribution">
								Site Design by
								<a href="https://stpaulmedia.com/" target="_blank">Saint Paul Media</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
